.RegisterLabel {
   margin: 1% 3% 1% 3%; 

}

.Dropzone {
    border-radius: 100%;
    margin-bottom: 3%;

}

.DropzoneImg {
    border-radius: 100%;

}

.RemoveButton {

}
.RegisterPage{
  text-align: center;
}
.form-group.register {
    width: 40vw;
}

.form-control.standard.valid{
}

.form-control.standard.invalid {
border : 1px solid #ff0000
}


.form-control.standard {
    margin: 3% 1.5% 3% 1.5%;
    display: inline-block;
    padding: 1%;
    width: 47%;
}

.form-control.large {
    margin: 3% 1.5% 3% 1.5%;
    width: 97%;
    padding: 1%;
}
